#login-area {
    float: right;
    position: relative;
    height: 72px;
    width: 316px;
    left: 12px;
}
#login-area .app-download {
    line-height: 72px;
    color: rgba(255, 255, 255, 0.6);
}
.app-download {
    position: relative;
}
#login-area .app-download > a  {
    color: #71777d !important;
    padding: 0 3px;
    text-decoration: none;
    font-size: 14px;
}
.header-unlogin > li {
    float: left;
}
.header-unlogin{
    height: 72px;
}
#login-area .app-download > a:hover, #login-area .dist-money > a:hover {
    color: red !important;
    text-decoration: none;
}
.app-download .app-load-box {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 304px;
    padding: 10px 24px 22px;
    box-sizing: border-box;
    background-color: #fff;
    color: #4D555D;
    line-height: 16px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 99999;
    font-size: 12px;
}
.app-download .app-load-box h4 {
    margin: 12px 0;
    font-size: 14px;
    color: #1C1F21;
    text-align: center;
    line-height: 22px;
}
.app-download .app-load-box img {
    width: 108px;
    height: 108px;
}
.l {
    float: left;
}
.app-download .app-load-box a.app-load-btn {
    display: block;
    color: #fff;
    width: 132px;
    height: 36px;
    margin-bottom: 8px;
    line-height: 36px;
    background: #4D555D;
    text-decoration: none;
    border-radius: 18px;
}
.app-download .app-load-box a.app-load-btn i {
    font-size: 16px;
    margin: 0 8px 0 12px;
    vertical-align: -2px;
}
.icon-apple:before {
    content: "\e643";
}
.icon-android:before {
    content: "\e644";
}
.app-download .app-load-box p {
    margin-top: 12px;
    text-align: center;
}
p {
    word-break: break-all;
}
.app-download .app-load-box a.app-load-btn:hover {
    background-color: #07111b;
}
#login-area .shop-cart {
    height: 72px;
    line-height: 36px;
    margin: 18px 12px;
}
.shop-cart {
    position: relative;
}
#login-area .shop-cart .shop-cart-icon {
    display: inline-block;
    padding: 0 18px;
    width: auto;
    box-sizing: border-box;
    border-radius: 18px;
    height: 36px;
    line-height: 34px;
    color: #787d82;
    text-align: center;
    text-decoration: none;
}
.shop-cart .shop-cart-icon {
    border: 1px solid #D9DDE1 !important;
}
.shop-cart a:hover span{
    color: red;
}
.shop-cart .shop-cart-icon .imv2-cart, .shop-cart .shop-cart-icon .icon-shopping-cart {
    position: relative;
    top: 2px;
    font-size: 16px;
    margin-right: 8px;
}
.shop-cart .shop-cart-icon span {
    color: #71777d;
}
.shop-cart.hover .shop-cart-icon span {
    color: #f01414;
}
.icon-shopping-cart:before {
    content: "\e929";
}
#login-area .shop-cart .my-cart {
    display: none;
    top: 54px;
}
.shop-cart .my-cart {
    display: block;
    width: 344px;
    padding: 0 16px;
    position: absolute;
    right: 0;
    background: #fff;
    box-sizing: border-box;
    z-index: 99999;
    box-shadow: 0 8px 16px 0 rgba(28,31,33,0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.shop-cart .my-cart .cart-title-box {
    padding: 25px 12px;
    border-bottom: 1px solid #D3D6D9;
}
.shop-cart .my-cart .cart-title-box h2 {
    font-weight: bold;
    font-size: 14px;
    color: #1C1F21;
}
.shop-cart .my-cart .cart-title-box h2, .shop-cart .my-cart .cart-title-box h5 {
    height: 24px;
    line-height: 4px;
}
.shop-cart .my-cart .cart-title-box h5 {
    font-size: 12px;
    color: #9199A1;
}
.shop-cart .my-cart .cart-wrap .clear-cart {
    height: 284px;
    text-align: center;
}
.shop-cart .my-cart .cart-wrap .clear-cart .cartIcon {
    margin: 36px 0 8px;
    display: inline-block;
    font-size: 72px;
    color: #D3D6D9;
}
.icon-shopping-cart:before {
    content: "\e929";
}
.shop-cart .my-cart .cart-wrap .clear-cart .text {
    margin-bottom: 8px;
    font-size: 12px;
    color: #9199A1;
    text-align: center;
    line-height: 24px;
}
.shop-cart .my-cart .cart-wrap .clear-cart .go-link:hover {
    color: #f01414;
}

.shop-cart .my-cart .cart-wrap .clear-cart .go-link {
    display: block;
    color: rgba(240,20,20,0.6);
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 4px;
    text-decoration: none;
}
.shop-cart .my-cart .more-box {
    padding: 32px 12px;
    border-top: 1px solid #D3D6D9;
}
.shop-cart .my-cart .more-box .show-box {
    height: 32px;
    line-height: 0px;
    font-size: 12px;
}
.shop-cart .my-cart .more-box .show-box .text a {
    color: #93999f;
    text-decoration: none;
}
.shop-cart .my-cart .more-box .go-cart {
    width: 96px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 16px;
    background: rgba(240,20,20,0.8);
    border-radius: 16px;
    text-decoration: none;
    border: none;
}
.moco-btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    text-decoration: none;
    bottom: 16px;
    box-sizing: border-box;
    -webkit-appearance: none;
    white-space: nowrap;
    outline: none;
    user-select: none;
}
.shop-cart .my-cart .more-box .go-cart:hover {
    background-color: #f01414;
}
.shop-cart .my-cart .more-box .show-box .text a:hover {
    color: #4d555d;
}
#header .page-container #login-area .header-unlogin .header-signin {
    color: #D9DDE1;
}
#header #login-area .header-unlogin .header-signin {
    margin-left: 12px;
}
#header #login-area .header-unlogin > li {
    float: left;
}
.header-unlogin .header-signin {
    color: #D9DDE1;
}
.header-unlogin .header-signin a {
    color: #4D555D;
}
 .header-unlogin .header-signin a {
    display: inline-block;
    padding: 0 12px;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    transition: background-color 0.2s;
    text-decoration: none;
}

#login-area .header-unlogin .header-signin a:hover {
    color: #f01414;
}