.page-container {
    width: 1905px;
    margin: 0 auto;
    padding-right: 10px;
    height: 72px;
    z-index: 900;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
    position: fixed;
    background-color: #fff;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
#header{
    height: 72px;
}